@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  color: #fff;
}
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color: #ec1839;
}
body {
  background-color: #111;
}
#tasklist::-webkit-scrollbar {
  display: none;
}
input,
textarea {
  background-color: #000; /* Ensure a visible background */
  color: #fff; /* Make text visible */
  border: 1px solid #fff; /* Ensure borders are visible */
  outline: none; /* Optional, for custom focus styles */
  padding: 8px; /* Add padding for better usability */
}

input:focus,
textarea:focus {
  border-color: #4caf50; /* Add a focus effect */
}
